<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Joy_Optionimage>
            <version>0.0.1</version>
        </Joy_Optionimage>
    </modules>
    <global>
        <blocks>
            <joy_optionimage>
                <class>Joy_Optionimage_Block</class>
            </joy_optionimage>
        </blocks>
        `
        <helpers>
            <joy_optionimage>
                <class>Joy_Optionimage_Helper</class>
            </joy_optionimage>
        </helpers>
        <resources>
            <joy_optionimage_setup>
                <setup>
                    <module>Joy_Optionimage</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </joy_optionimage_setup>
        </resources>
        <models>
            <joy_optionimage>
                <class>Joy_Optionimage_Model</class>
                <resourceModel>joy_optionimage_resource</resourceModel>
            </joy_optionimage>
            <joy_optionimage_resource>
                <class>Joy_Optionimage_Model_Resource</class>
                <entities>
                    <attribute_option_image>
                        <table>joy_optionimage_attribute_option_image</table>
                    </attribute_option_image>
                </entities>
            </joy_optionimage_resource>

        </models>
        <attribute>
            <option>
                <image_dir>optionimage</image_dir>
            </option>
        </attribute>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <joy_optionimage after="Mage_Adminhtml">Joy_Optionimage_Adminhtml</joy_optionimage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <joy_optionimage>
                    <file>joy/optionimage.xml</file>
                </joy_optionimage>
            </updates>
        </layout>
    </adminhtml>
</config>
